<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springbootmonolithic.domain.member.query.mapper.MemberMapper">
    <select id="isExistsByNickname" resultType="_boolean" parameterType="string">
        SELECT
               EXISTS (
                SELECT 1
                FROM member M
                WHERE M.nickname = #{ nickname }
        )
    </select>
</mapper>